{% extends 'base.html' %}

{% block title %}Profile - Cork Board{% endblock %}

{% block body %}
    <!-- Main content section -->
    <div class="container mt-5 mb-5">
      <h2>{{ user.username }}'s Profile</h2>
  
      <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static', filename='profile_picture.jpg') }}" class="card-img-top" alt="Profile Picture">
          <div class="card-body">
              <h5 class="card-title">{{ user.username }}</h5>
              <p class="card-text">Email: {{ user.email }}</p>
              <p class="card-text">Major: {{ user.major }}</p>
              <p class="card-text">Year: {{ user.year }}</p>
              <p class="card-text">Signup Date: {{ user.signup_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
              <a href="{{ url_for('edit-profile') }}" class="btn btn-primary">Edit Profile</a>
          </div>
      </div>
  
      <h3>{{ user.username }}'s Cork Boards</h3>
      <ul>
          {% for cork_board in user.cork_boards %}
              <li>{{ cork_board.title }} - {{ cork_board.content }}</li>
          {% endfor %}
      </ul>
  </div>
{% endblock %}
