{% extends 'base.html' %}

{% block title%}Search - Cork Board{% endblock %}

{% block body %}
    <!-- Display Search Results -->
    <div class="container mt-4">
        <h2>Search Results</h2>
        {% if search_results %}
            <ul class="list-group">
                {% for result in search_results %}
                    <li class="list-group-item">
                        {{ result.board_title }}
                        {% if result.starred %}
                            <span class="badge badge-warning">Starred</span>
                        {% endif %}
                        <button class="btn btn-primary float-right">View</button>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
{% endblock %}
