{% extends 'base.html' %}

{% block title%}Starred Boards - Cork Board{% endblock %}

{% block body %}
    <!-- Display Starred Cork Boards -->
    <div class="container mt-4">
        <h2>Starred Cork Boards</h2>
        {% if starred_boards %}
            <ul class="list-group">
                {% for board in starred_boards %}
                    <li class="list-group-item">
                        {{ board.board_title }}
                        <button class="btn btn-primary float-right">View</button>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No starred boards found.</p>
        {% endif %}
    </div>
{% endblock %}
